html {
  background-color: var(--couleur-principale);
  font-family: "gaela", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  --couleur-principale: rgb(224, 210, 193);
  --couleur-secondaire: #252620;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 100;
  background-color: var(--couleur-secondaire);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#preloader #percent {
  color: white;
  font-family: "Roboto", sans-serif;
}
#preloader #bar {
  width: 60%;
  margin-top: 20px;
}
#preloader #barconfirm {
  width: 1%;
  padding: 1px 0px;
  background-color: var(--couleur-principale);
}

#container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--couleur-secondaire);
}

/*  HEADER  */
header {
  position: relative;
  width: 100%;
  height: 100vh;
}
header .navbar {
  height: 65px;
}
header .navbar .menu {
  padding-top: 5vh;
}
header .navbar .menu ul {
  display: flex;
  justify-content: space-around;
}
header .navbar .menu ul li a {
  color: var(--couleur-secondaire);
  position: relative;
}
header .navbar .menu ul li a:hover {
  height: 10px;
  border-bottom: 1px solid var(--couleur-secondaire);
  transition: height 2s ease-in;
}
header .slogan {
  text-align: center;
  padding-top: 125px;
  line-height: 26px;
}
header .start {
  text-align: center;
  padding-top: 30px;
}
header .start a {
  color: var(--couleur-secondaire);
  border: 1px solid var(--couleur-secondaire);
  padding: 5px 10px;
}
header .title {
  font-weight: 100;
  font-size: 100px;
  padding-top: 150px;
  padding-left: 7vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
header .title span {
  padding-left: 100px;
}
header .char {
  transform: translateY(115px);
  transition: transform 1s;
  opacity: 0;
}
header .location {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
  padding-right: 7vw;
  padding-bottom: 1vh;
}

#readers {
  padding-left: 7vw;
}
#readers h1 {
  margin-top: 125px;
  font-size: 35px;
  font-weight: 100;
}
#readers h1 span {
  padding-left: 30px;
}

/*     SMALL PHONE        */
@media screen and (max-width: 375px) {
  header .title {
    padding-top: 75px;
  }
}
/*      TALBLET      */
@media screen and (min-width: 768px) {
  header .title {
    font-size: 150px;
    padding-left: 13vw;
  }
  header .location {
    margin-bottom: 15vh;
  }
  #readers {
    padding-left: 13vw;
  }
  #readers h1 {
    margin-top: 125px;
    font-size: 60px;
  }
  #readers h1 span {
    padding-left: 40px;
  }
}
/*     DESKTOP        */
@media screen and (min-width: 1200px) {
  header .slogan {
    padding-top: 175px;
  }
  header .title {
    font-size: 200px;
    padding-left: 15vw;
    padding-top: 75px;
    line-height: 12rem;
  }
  header .title span {
    padding-left: 200px;
  }
  header .location {
    margin-bottom: 1vh;
    padding-right: 13vw;
  }
  #readers {
    padding-left: 15vw;
  }
  #readers h1 {
    margin-top: 200px;
    font-size: 75px;
  }
  #readers h1 span {
    padding-left: 55px;
  }
}/*# sourceMappingURL=style.css.map */