@import url("/css/melodrama.css");

html {
  background-color: var(--couleur-principale);
  font-family: "Melodrama-Regular";
  scroll-behavior: smooth;
  font-size: 16px;

  --couleur-principale: rgb(224, 210, 193);
  --couleur-secondaire: #252620;
}

* {
  cursor: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--couleur-principale);
}

::-webkit-scrollbar-thumb {
  background-color: var(--couleur-secondaire);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

.hidden {
  opacity: 0;
}

.hoveredmobile {
  color: white;
  background-color: var(--couleur-secondaire);
  transition: 0.5s ease;
  border-top: 1px solid var(--couleur-principale);
  width: 100% !important;
  text-align: left;
}

.hoveredpc {
  color: white;
  background-color: var(--couleur-secondaire);
  transition: 0.5s ease;
  border-top: 1px solid var(--couleur-principale);
  width: 100% !important;
  text-align: center;
}

#date {
  color: var(--couleur-principale);
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  margin-top: 10px;
}

#titleDate {
  color: var(--couleur-principale);
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}

.arrow {
  transform: rotate(-45deg);
  transition: 0.5s ease;
}

.utilisateur {
  font-size: 25px;
  font-weight: bold;
}

.photo {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

#book {
  margin-top: 15px;
  background-color: var(--couleur-principale);
  border: 1px solid var(--couleur-secondaire);

  option {
    background-color: var(--couleur-secondaire);
    color: white;
  }

  option:hover {
    background-color: var(--couleur-principale);
    color: var(--couleur-secondaire);
  }
}

#bulle,
#bulled {
  font-size: 30px;
}

.cote {
  font-style: italic;
}

/*  PRELOADER  */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 100;
  background-color: var(--couleur-secondaire);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  #percent {
    color: white;
    font-family: "Roboto", sans-serif;
  }

  #bar {
    width: 60%;
    margin-top: 20px;
  }

  #barconfirm {
    width: 1%;
    padding: 1px 0px;
    background-color: var(--couleur-principale);
  }
}

#container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--couleur-secondaire);
}

/*  HEADER  */

header {
  position: relative;
  width: 100%;
  height: 100vh;

  .imgHeader {
    display: none;
  }

  .navbar {
    height: 65px;
    .menu {
      padding-top: 5vh;

      ul {
        display: flex;
        justify-content: space-around;

        li {
          a {
            color: var(--couleur-secondaire);
            position: relative;

            &:hover {
              height: 10px;
              border-bottom: 1px solid var(--couleur-secondaire);
              transition: height 2s ease-in;
            }
          }
        }
      }
    }
  }

  .slogan {
    text-align: center;
    padding-top: 125px;
    line-height: 26px;
  }

  .start {
    text-align: center;
    padding-top: 30px;
    a {
      color: var(--couleur-secondaire);
      border: 1px solid var(--couleur-secondaire);
      padding: 5px 10px;
    }
  }

  .title {
    font-weight: 100;
    font-size: 100px;
    padding-top: 150px;
    padding-left: 7vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    span {
      padding-left: 100px;
    }
  }

  .char {
    transform: translateY(115px);
    transition: transform 1s;
    opacity: 0;
  }

  .location {
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 0;
    padding-right: 7vw;
    padding-bottom: 1vh;
  }
}

#readers {
  h1 {
    padding-left: 7vw;
    margin-top: 125px;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 100px;

    span {
      padding-left: 30px;
    }
  }

  .box {
    border-top: 1px solid var(--couleur-secondaire);
    height: 250px;
    width: 83vw;
    margin: 0 auto;
    position: relative;

    .thumbnail {
      position: absolute;
      margin-left: 225px;
      top: 0;
      margin-top: 70px;
      margin-right: 5 100px;
      width: 140px;
      height: 140px;
      transform: rotate(10deg);
      background-image: url(/img/alexis.jpg);
      background-position: center;
      background-size: cover;
      opacity: 0;
      transform-origin: bottom right;
      transition: 0.1s ease;
      border-radius: 20px;
    }

    .box:nth-of-type(2) .thumbnail {
      background-image: url(/img/karo.jpg);
      background-position: center;
      background-size: cover;
    }

    .box:nth-of-type(3) .thumbnail {
      background-image: url(/img/r1.jpg);
      background-position: center;
      background-size: cover;
    }

    .box:nth-of-type(4) .thumbnail {
      background-image: url(/img/r2.jpg);
      background-position: center;
      background-size: cover;
    }

    .box:hover.thumbnail {
      opacity: 1;
    }

    i {
      position: absolute;
      font-size: 20px;
      bottom: 80%;
      left: 95%;
    }

    .contenu {
      h2 {
        font-size: 35px;
        font-weight: 100;
        margin-top: 50px;
      }
      h3 {
        font-weight: 100;
        font-size: 20px;
        font-style: italic;
      }

      p {
        line-height: 20px;
        margin-top: 12px;
        width: 50vw;
      }
    }
  }

  .box:last-of-type {
    border-bottom: 1px solid var(--couleur-secondaire);
  }
}

#meeting {
  height: 75px;
  background-color: var(--couleur-secondaire);
  margin-top: 75px;
  overflow: hidden;

  h2 {
    margin-top: 10px;
  }
}

.scrolling-text {
  animation: marquee 5s linear infinite;
  animation-delay: 0s;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

h2.meeting {
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 100;
  color: var(--couleur-principale);
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}

#reviews {
  margin-top: 75px;
  padding-left: 7vw;

  h2 {
    font-size: 35px;
    font-weight: 100;
    span {
      padding-left: 130px;
    }
  }

  .genre {
    display: flex;
    margin-top: 35px;
    gap: 15px;

    p {
      border: 1px solid var(--couleur-secondaire);
      padding: 2px 5px 2px 5px;
      border-radius: 10px;
      text-align: center;
    }
  }

  .resume {
    width: 80vw;
    margin-top: 35px;
    line-height: 40px;
  }

  .border {
    display: block;
    border-bottom: 1px solid;
    width: 300px;
    margin-top: 20px;
  }

  .img {
    img {
      display: none;
      background-position: center;
      background-size: cover;
    }
  }
}

#review {
  position: relative;
  margin-top: 75px;
  background-color: var(--couleur-secondaire);
  height: 850px;

  h2 {
    color: var(--couleur-principale);
    font-size: 35px;
    font-weight: 100;
    padding-left: 7vw;
    padding-top: 25px;
    margin-bottom: 50px;

    span {
      margin-left: 30px;
    }
  }

  .vignette {
    display: flex;
    margin-top: 50px;
    margin-left: 7vw;
    color: white;
    font-weight: 100;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      object-fit: cover;
      object-position: center;
    }

    p {
      margin-left: 20px;
      margin-top: 10px;
      width: 62vw;
      line-height: 20px;
    }
  }

  #check {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
  }
}

#user {
  margin-bottom: 100px;
  h2 {
    margin-top: 50px;
    margin-left: 7vw;
    font-size: 35px;
    font-weight: 100;
    color: var(--couleur-secondaire);

    span {
      margin-left: 30px;
    }
  }

  .contenu {
    border-top: 1px solid var(--couleur-secondaire);
    border-bottom: 1px solid var(--couleur-secondaire);
    width: 80vw;
    margin: 0 auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr;

    .data {
      margin-bottom: 50px;
      margin: 0 auto;
      margin-top: 25px;

      #bulled {
        margin-bottom: 50px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 50px;
      background-color: var(--couleur-secondaire);
      border-radius: 15px;

      input,
      select {
        width: 70vw;
        border-radius: 20px;
        border: none;
        margin-top: 15px;
        border-bottom: 1px solid var(--couleur-secondaire);
      }

      input:last-of-type {
        margin-bottom: 30px;
      }

      input:focus {
        outline: none;
      }

      button {
        margin-top: 30px;
        width: 50vw;
        height: 30px;
        border: none;
        background: none;
        background-color: var(--couleur-secondaire);
        color: var(--couleur-principale);
        border-radius: 20px;
        margin: 0 auto;
        background-color: var(--couleur-principale);
      }

      button:hover {
        background-color: white;
        color: var(--couleur-secondaire);
        transition: 0.3s ease-in-out;
      }

      #bulle {
        padding-top: 25px;
      }
    }
  }

  .data {
    margin-top: 50px;
  }
}

footer {
  background-color: var(--couleur-secondaire);
  height: 650px;
  h2 {
    padding-left: 7vw;
    padding-top: 75px;
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 50px;
    color: var(--couleur-principale);
    span {
      padding-left: 40px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 80vw;
      background: none;
      border: none;
      margin-top: 30px;
      border-bottom: 1px solid var(--couleur-principale) !important;
      color: var(--couleur-principale);
    }

    input:focus {
      outline: none;
    }

    button {
      margin-top: 30px;
      width: 50vw;
      height: 30px;
      border: none;
      background: none;
      background-color: var(--couleur-principale);
      color: var(--couleur-secondaire);
      border-radius: 20px;
    }
  }

  .friends {
    display: none !important;
  }
}

/*     SMALL PHONE        */

@media screen and (max-width: 375px) {
  header {
    .title {
      padding-top: 75px;
    }
  }
}

/*      TALBLET      */

@media screen and (min-width: 768px) {
  header {
    .title {
      font-size: 150px;
      padding-left: 13vw;
    }

    .location {
      margin-bottom: 15vh;
    }
  }

  #readers {
    h1 {
      padding-left: 13vw;
      margin-top: 125px;
      font-size: 75px;

      span {
        padding-left: 40px;
      }
    }

    .box {
      .thumbnail {
        margin-left: 350px;
        top: 0;
        margin-top: 70px;
        width: 250px;
        height: 250px;
        transform: rotate(25deg);
        background-image: url(/img/alexis.jpg);
        background-position: center;
        background-size: cover;
        opacity: 0;
        transform-origin: bottom right;
        transition: 0.1s ease;
        border-radius: 20px;
      }

      .box:nth-of-type(2) .thumbnail {
        background-image: url(/img/karo.jpg);
        background-position: center;
        background-size: cover;
      }

      .box:nth-of-type(3) .thumbnail {
        background-image: url(/img/r1.jpg);
        background-position: center;
        background-size: cover;
      }

      .box:nth-of-type(4) .thumbnail {
        background-image: url(/img/r2.jpg);
        background-position: center;
        background-size: cover;
      }

      .box:hover.thumbnail {
        opacity: 1;
      }

      i {
        position: absolute;
        font-size: 20px;
        bottom: 80%;
        left: 95%;
      }

      .contenu {
        p {
          width: inherit !important;
        }
      }
    }

    .box:last-of-type {
      border-bottom: 1px solid var(--couleur-secondaire);
    }
  }

  #meeting {
    h2 {
      animation: marquee 7s linear infinite;
    }
  }

  #reviews {
    h2 {
      font-size: 75px;
      span {
        padding-left: 285px;
      }
    }

    .border {
      width: 550px;
    }
  }

  #review {
    h2 {
      font-size: 75px;
      margin-top: 55px;
    }

    .vignette {
      p {
        line-height: 25px;
      }
    }
  }

  footer {
    h2 {
      font-size: 75px;
      margin-top: 55px;
      font-weight: 100;

      span {
        padding-left: 55px;
      }
    }
  }
}

/*     DESKTOP        */

@media screen and (min-width: 1200px) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--couleur-secondaire);
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
  }

  #bulle {
    display: inherit !important;
  }

  #donnee {
    position: relative;

    #bulled {
      display: inherit !important;
      position: absolute;
      top: 0;
      font-size: 30px;
      padding-left: 200px;
      padding-top: 145px;
    }
  }

  header {
    border-bottom: 1px solid var(--couleur-secondaire);

    .imgHeader {
      display: inherit !important;
      position: absolute;
      width: 300px;
      height: 550px;
      top: 20%;
      right: 65%;
      object-fit: cover;
      object-position: right;
      border-radius: 200px;
      box-shadow: 8px 7px 15px -2px rgba(0, 0, 0, 0.49);
      opacity: 0;
    }

    .background {
      position: absolute;
      width: 30%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      background-color: white;
      opacity: 1;
      right: 0;
      z-index: -1;
    }

    .slogan {
      padding-top: 175px;
    }

    nav {
      font-size: 18px;
    }

    .start {
      a:hover {
        background-color: var(--couleur-secondaire);
        color: var(--couleur-principale);
        transition: 0.3s ease-in-out;
      }
    }

    .title {
      font-size: 150px;
      padding-left: 15vw;
      padding-top: 100px;
      line-height: 12rem;

      span {
        padding-left: 125px;
      }
    }

    .location {
      margin-bottom: 1vh;
      padding-right: 13vw;
    }
  }

  #readers {
    h1 {
      padding-left: 15vw;
      margin-top: 200px;
      font-size: 125px;
      margin-bottom: 150px;

      span {
        padding-left: 55px;
      }
    }

    .box {
      width: 70vw;
      height: 400px;
      position: relative;

      .contenu {
        position: relative;
        h2 {
          font-size: 75px;
          margin-top: 115px;
        }
        h3 {
          font-size: 32px;
          font-style: italic;
        }
      }

      p {
        margin-top: 10px;
        line-height: 25px;
        width: inherit !important;
      }
    }
    .thumbnail {
      margin-left: 320px !important;
      top: 0 !important;
      width: 400px !important;
      height: 400px !important;
      margin-top: inherit !important;
      margin-right: inherit !important;
      background-image: url(/img/alexis.jpg);
      opacity: 0;
      transform: translateX(-20vw) rotate(30deg) !important;
      transition: 0.1s ease;
    }

    .box:nth-of-type(2) .thumbnail {
      background-image: url(/img/karo.jpg);
    }

    .box:nth-of-type(3) .thumbnail {
      background-image: url(/img/r1.jpg);
    }

    .box:nth-of-type(4) .thumbnail {
      background-image: url(/img/r2.jpg);
    }

    .box:hover .thumbnail {
      opacity: 1;
    }
  }

  #meeting {
    height: 250px;
    margin-top: 150px;

    h2 {
      font-size: 75px;
      padding-top: 100px;
      animation: marquee 7s linear infinite;
    }
  }

  #reviews {
    display: flex;
    margin-top: 150px;
    padding-left: 13vw;
    .resume {
      width: 610px;
      line-height: 60px;
      margin-top: 50px;
    }

    .genre {
      margin-top: 50px;
      font-weight: bold;
      gap: 15px;

      p {
        padding: 5px 16px 5px 16px;
        border-radius: 20px;
      }
    }

    .border {
      display: block;
      border-bottom: 1px solid;
      width: 600px;
      margin-top: 50px;
    }

    h2 {
      font-size: 75px;
      font-weight: 100;
    }

    .img {
      img {
        width: 550px;
        height: 550px;
        border-radius: 50% 20% 80% 30% / 40% 60% 70% 10%;
        object-position: center;
        object-fit: cover;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
        margin-left: 8vw;
        margin-top: 150px;
        display: inherit;
        animation: pulse 2s ease-in-out infinite alternate;
      }
      @keyframes pulse {
        0% {
          border-radius: 50% 20% 80% 30% / 40% 60% 70% 10%;
        }
        100% {
          border-radius: 40% 60% 70% 10% / 50% 20% 80% 30%;
        }
      }
    }
  }

  footer {
    margin-top: 150px;
    position: relative;
    height: 750px;

    h2 {
      padding-left: 13vw;
      font-size: 75px;
      font-weight: 100;

      span {
        margin-left: 20px;
      }
    }
    .form {
      display: flex;
      padding-left: 13vw;
      padding-bottom: 50px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: inherit !important;

      input {
        width: 30vw;
        background: none;
        border: none;
        margin-top: 50px !important;
        border-bottom: 1px solid var(--couleur-secondaire);
      }
      margin-bottom: inherit !important;

      button {
        width: 10vw !important;
      }

      button:hover {
        background-color: white !important;
        color: var(--couleur-secondaire) !important;
        transition: 0.5s ease-in-out;
      }
    }
    .friends {
      display: inherit !important;
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 8vw;
      margin-top: 14vw;
    }
  }

  #review {
    height: 900px;
    margin-top: 150px;

    h2 {
      font-size: 75px;
      font-weight: 100;
      padding-left: 13vw;
      padding-top: 75px;
      font-weight: 100;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      color: white;
      font-weight: 100;
      align-items: center;
    }

    .vignette {
      display: flex;

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      p {
        margin-top: 20px;
        width: 20vw;
        line-height: 40px;
      }
    }
  }

  #user {
    h2 {
      font-size: 75px;
      font-weight: 100;
      padding-left: 7vw !important;
      padding-top: 75px;
      font-weight: 100;

      span {
        margin-left: 50px;
      }
    }

    .contenu {
      display: flex !important;
      width: 70vw !important;
      padding-top: 50px !important;
      padding-bottom: 50px !important;

      .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5vw;
        margin-top: inherit !important;

        #bulled {
          font-size: 35px;
          margin-left: 10vw;
        }
      }

      .form {
        margin-left: auto !important;
        margin-top: inherit !important;
        margin-bottom: inherit !important;
        width: 25vw !important;
        height: 450px;
        margin: auto 0 !important;

        input,
        select {
          width: 20vw !important;
        }

        button {
          width: 10vw !important;
        }

        #bulle {
          padding-top: 100px;
          font-size: 35px;
        }
      }
    }
  }

  #date {
    text-align: inherit !important;
    padding-left: 13vw !important;
  }

  #titleDate {
    text-align: inherit !important;
    padding-left: 13vw !important;
    margin-top: 10px !important;
    font-style: italic;
  }
}

@media screen and (min-width: 1920px) {
  #reviews {
    .img {
      img {
        margin-left: 200px;
      }
    }
  }

  header {
    .imgHeader {
      display: inherit !important;
      position: absolute;
      width: 400px;
      height: 650px;
      top: 20%;
      right: 65%;
      object-fit: cover;
      object-position: right;
      border-radius: 200px;
      box-shadow: 8px 7px 15px -2px rgba(0, 0, 0, 0.49);
      opacity: 0;
    }

    .title {
      font-size: 200px;
      padding-top: 75px;

      span {
        padding-left: 200px;
      }
    }
  }

  #readers {
    .thumbnail {
      transform: translateX(-10vw) rotate(30deg) !important;
    }
  }
}
