html {
  background-color: var(--couleur-principale);
  font-family: "gaela", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;

  --couleur-principale: rgb(224, 210, 193);
  --couleur-secondaire: #252620;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 100;
  background-color: var(--couleur-secondaire);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  #percent {
    color: white;
    font-family: "Roboto", sans-serif;
  }

  #bar {
    width: 60%;
    margin-top: 20px;
  }

  #barconfirm {
    width: 1%;
    padding: 1px 0px;
    background-color: var(--couleur-principale);
  }
}

#container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--couleur-secondaire);
}

/*  HEADER  */

header {
  position: relative;
  width: 100%;
  height: 100vh;

  .navbar {
    height: 65px;

    .menu {
      padding-top: 5vh;

      ul {
        display: flex;
        justify-content: space-around;

        li {
          a {
            color: var(--couleur-secondaire);
            position: relative;

            &:hover {
              height: 10px;
              border-bottom: 1px solid var(--couleur-secondaire);
              transition: height 2s ease-in;
            }
          }
        }
      }
    }
  }

  .slogan {
    text-align: center;
    padding-top: 125px;
    line-height: 26px;
  }

  .start {
    text-align: center;
    padding-top: 30px;
    a {
      color: var(--couleur-secondaire);
      border: 1px solid var(--couleur-secondaire);
      padding: 5px 10px;
    }
  }

  .title {
    font-weight: 100;
    font-size: 100px;
    padding-top: 150px;
    padding-left: 7vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    span {
      padding-left: 100px;
    }
  }

  .char {
    transform: translateY(115px);
    transition: transform 1s;
    opacity: 0;
  }

  .location {
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 0;
    padding-right: 7vw;
    padding-bottom: 1vh;
  }
}

#readers {
  h1 {
    padding-left: 7vw;
    margin-top: 125px;
    font-size: 50px;
    font-weight: 100;

    span {
      padding-left: 30px;
    }
  }

  .box {
    border-top: 1px solid var(--couleur-secondaire);
    height: 250px;
    width: 83vw;
    margin: 0 auto;
    margin-top: 50px;

    .contenu {
      h2 {
        font-size: 35px;
        font-weight: 100;
      }
      h3 {
        font-weight: 100;
        font-size: 20px;
      }
    }
  }

  .box:last-of-type {
    border-bottom: 1px solid var(--couleur-secondaire);
  }
}

#meeting {
  height: 50px;
  background-color: var(--couleur-secondaire);
  margin-top: 75px;
  overflow: hidden;
}

.scrolling-text {
  animation: marquee 5s linear infinite;
  animation-delay: 0s;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  
  100% {
    transform: translateX(-100%);
  }
}

h2.meeting {
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 100;
  color: var(--couleur-principale);
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}





/*     SMALL PHONE        */

@media screen and (max-width: 375px) {
  header {
    .title {
      padding-top: 75px;
    }
  }
}

/*      TALBLET      */

@media screen and (min-width: 768px) {
  header {
    .title {
      font-size: 150px;
      padding-left: 13vw;
    }

    .location {
      margin-bottom: 15vh;
    }
  }

  #readers {
    h1 {
      padding-left: 13vw;
      margin-top: 125px;
      font-size: 60px;

      span {
        padding-left: 40px;
      }
    }
  }
  
  #meeting{
    h2{
      animation: marquee 7s linear infinite;
    }
  }
}

/*     DESKTOP        */

@media screen and (min-width: 1200px) {
  header {
    .slogan {
      padding-top: 175px;
    }

    .title {
      font-size: 200px;
      padding-left: 15vw;
      padding-top: 75px;
      line-height: 12rem;

      span {
        padding-left: 200px;
      }
    }

    .location {
      margin-bottom: 1vh;
      padding-right: 13vw;
    }
  }

  #readers {
    h1 {
      padding-left: 15vw;
      margin-top: 200px;
      font-size: 125px;

      span {
        padding-left: 55px;
      }
    }

    .box {
      width: 70vw;
      height: 400px;

      .contenu{
        h2 {
          font-size: 75px;
          margin-top: 115px;
        }
        h3 {
          font-size: 32px;
          font-style: italic;
        }
      }
    }
  }

  #meeting{
    height: 150px;
    margin-top: 250px;

    h2{
      font-size: 75px;
      padding-top: 50px;
      animation: marquee 10s linear infinite;
    }
  }
}
